

h2{
    margin-left: 442px;
    background-color: white;
    border-radius: 0%;
    margin-right: 390px;
    border-bottom: 2px solid grey;
  }
  h1{
      text-align: center;
  }
  h3{
    margin-left: 10px;
    background-color: white;
    border-radius: 0%;
    margin-right: 1110px;
    border-bottom: 2px solid grey;
  }